RewriteEngine On

# Rediriger HTTP vers HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Autoriser l'accès uniquement aux requêtes POST sur send-email.php
<Files send-email.php>
    <If "%{REQUEST_METHOD} != 'POST'">
        Require all denied
    </If>
</Files>

# Ajouter des journaux de débogage pour suivre les requêtes
RewriteLog "/var/log/apache2/rewrite.log"
RewriteLogLevel 3

# Rediriger toutes les requêtes vers index.html sauf si le fichier ou le dossier existe
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]